/* General */
html,body{
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}
.standard-button{
    border:none;
    background-color:#ff0023;
    color:white;
    font-size: large;
    padding:15px;
    border-radius:25px;
    transition:.2s;
}
.standard-button:hover{
    transform: scale(1.1);
    background-color:white;
    color:#ff0023;
    transition:.2s;
    border:2px solid #ff0023;
}
#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition-property: top;
  transition-duration: 0.3s;
  transition-delay: .2s;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #00b31b;
}
.navbar a.active {
  background-color: #ff0023;
  color: white;
}

.navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}






.home-head{
    background-image:url('pictures/home-bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    background-attachment: fixed;
    margin:0;
    padding:15%;
    box-shadow: inset 0 0 0 1000px rgba(255,0,35,.1);
}
.home-head .content{
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    color:white;
    border: solid #ff0023 20px;
    padding:2%;
    margin-left:30%;
    margin-right:30%;
}
.home-tutorialad{
    background-color:#00b31b;
    color:white;
    padding:1%;
    text-align:center;
}
.home-mission{
  padding:1%;
  margin:2% 30%;
  text-align:center;
}
.home-piintro{
  padding:1%;
  margin:2% 15%;
  text-align:center;
  background-color:#ff0023;
  color:white;
}
.home-piintro-head{
  margin:0% 30%;
  padding:10px;
}
.home-piintro h1 {
  color:white;
  text-shadow: -3px 3px #00b31b;
}
.home-piintro .content {
  margin:0% 30%;
  text-align: justify;
}
.home-piintro-img {
  border-radius:150px;
  width:50%;
}

.home-getstarted{
  margin:5%;
  text-align:center;
  color:black
}

.home-getstarted a {
  font-size:x-large;
  font-weight: bold;
  color:black;
  text-decoration: none;
  border-bottom:3px solid black;
}










.tutorials-block-container{
  margin:5%;
  text-align: center;
}
.tutorials-block{
  background-color: #f1f1f1;
  width:20%;
  margin:1%;
  text-align:center;
  padding:2%;
  display: inline-block;
  transition: transform .2s, background-color .2s;
}
.tutorials-block img {
  width:90%;
}
.tutorials-block:hover{
  transform: scale(1.1);
  background-color: #ff0023;
  color:white;
  transition:.2s;
}











.post-head{
    text-align:center;
    margin-top:5%;
}
.post-head h1 {
    font-size: 50px;
}
.post-author{
    text-align: center;
    color:#ff0023;
}
.post-content {
    background-color:#f1f1f1;
    color:#1f1f1f;
    padding: 5% 10%;
    margin:2% 10%;
}
.post-subhead {
    margin:4% 0% 4% 0%;
}
.post-subhead h1 {
    background-color: #ff0023;
    color:white;
    display: inline-block;
    padding:5px;
}
.post-img-cont{
    text-align: center;
    margin:5%;
}
.post-img{
    width:50%;
}
.post-eop{
  text-align:center;
  margin:2%;
}
.post-eop a{
  font-size:x-large;
  font-weight: bold;
  color:#ff0023;
  text-decoration: none;
  border-bottom:3px solid #ff0023;
}