/* General */
html,body{
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}
.standard-button{
    border:none;
    background-color:#ff0023;
    color:white;
    font-size: large;
    padding:15px;
    border-radius:25px;
    transition:.2s;
}
.standard-button:hover{
    transform: scale(1.1);
    background-color:white;
    color:#ff0023;
    transition:.2s;
    border:2px solid #ff0023;
}
#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition:.2s;
  padding: 10px 0px;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: .2s;
}
#navbar .navbar-anotlogo{
  padding:12px;
  float: right;
  margin:18px 15px 0 0;
  border-radius:15px;
}
#navbar a:hover {
  background-color: #00b31b;
}
.navbar a.active {
  background-color: #ff0023;
  color: white;
}
#logo img{
  width:100%;
  transition: .2s;
}
#logo{
  padding:1px;
  margin: 0 0 0 30px;
}

.navbar .icon {
  display: none;
}









.home-head{
    background-image:url('pictures/home-bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    background-attachment: fixed;
    margin:0;
    padding:15%;
    box-shadow: inset 0 0 0 1000px rgba(255,0,35,.1);
}
.home-head .content{
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    color:white;
    border: solid #ff0023 20px;
    padding:2%;
    margin-left:30%;
    margin-right:30%;
}
.home-tutorialad{
    background-color:#00b31b;
    color:white;
    padding:1%;
    text-align:center;
}
.home-mission{
  padding:1%;
  margin:2% 30%;
  text-align:center;
}
.home-piintro{
  padding:1%;
  margin:2% 15%;
  text-align:center;
  background-color:#ff0023;
  color:white;
}
.home-piintro-head{
  margin:0% 30%;
  padding:10px;
}
.home-piintro h1 {
  color:white;
  text-shadow: -3px 3px #00b31b;
}
.home-piintro .content {
  margin:0% 30%;
  text-align: justify;
}
.home-piintro-img {
  border-radius:150px;
  width:50%;
}

.home-getstarted{
  margin:5%;
  text-align:center;
  color:black
}

.home-getstarted a {
  font-size:x-large;
  font-weight: bold;
  color:black;
  text-decoration: none;
  border-bottom:3px solid black;
}

@media screen and (max-width: 800px){
  .home-head{
    padding:10%;
    padding-top:40%;
    background:none;
    background-color:black;
    box-shadow: none;
  }
  .home-head .content {
    margin:0;
  }
  .home-mission,.home-piintro .content {
    margin:2% 2%;
  }
  .home-piintro,.home-piintro-head{
    margin:2% 0%;
  }
  .home-piintro-img{
    width:80%;
    border-radius: 10px;
  }
}









.tutorials-head{
  text-align:center;
  margin-top:10%;
}
.tutorials-block-container{
  margin:5%;
  text-align: center;
}
.tutorials-block{
  background-color: #f1f1f1;
  width:20%;
  margin:1%;
  text-align:center;
  padding:2%;
  display: inline-block;
  transition: transform .2s, background-color .2s;
}
.tutorials-block img {
  width:90%;
}
.tutorials-block:hover{
  transform: scale(1.1);
  background-color: #ff0023;
  color:white;
  transition:.2s;
}
@media screen and (max-width: 1250px){
  .tutorials-head{
    margin-top:12%;
  }
  .tutorials-block{
    width:40%;
  }
}
@media screen and (max-width: 800px){
  .tutorials-head{
    margin-top:30%;
  }
  .tutorials-block{
    width:80%;
    padding:10%;
  }
}









.post-head{
    text-align:center;
    margin-top:10%;
}
.post-head h1 {
    font-size: 50px;
}
.post-author{
    text-align: center;
    color:#ff0023;
}
.post-content {
    background-color:#f1f1f1;
    color:#1f1f1f;
    padding: 5% 10%;
    margin:2% 10%;
}
.post-subhead {
    margin:4% 0% 4% 0%;
}
.post-subhead h1 {
    background-color: #ff0023;
    color:white;
    display: inline-block;
    padding:5px;
}
.post-img-cont{
    text-align: center;
    margin:5%;
}
.post-img{
    width:50%;
}
.post-eop{
  text-align:center;
  margin:2%;
}
.post-eop a{
  font-size:x-large;
  font-weight: bold;
  color:#ff0023;
  text-decoration: none;
  border-bottom:3px solid #ff0023;
}
@media screen and (max-width: 800px){
  .post-head{
    margin:30% 2% 0%;
  }
  .post-content{
    margin:2% 0;
    padding:5%;
    text-align:justify;
  }
  .post-subhead{
    text-align:center;
  }
  .post-img{
    width:100%;
  }
  .post-eop{
    margin:10%;
  }
}