/* General */
html,body{
  margin:0;
  padding:0;
  font-family: 'Noto Sans', sans-serif;
}
.standard-button{
    border:none;
    background-color:#ff0023;
    color:white;
    font-size: large;
    padding:15px;
    border-radius:25px;
    transition:.2s;
}
.standard-button:hover{
    transform: scale(1.1);
    background-color:white;
    color:#ff0023;
    transition:.2s;
    border:2px solid #ff0023;
}
#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition:.2s;
  padding: 10px 0px;
  display:flex;
  align-items:stretch;
  justify-content: space-between;
}
#navbar .navbar-links{
  display: flex;
}
#navbar a {
  color: white;
  text-align: center;
  text-decoration: none;
}
#navbar .navbar-anotlogo{
  padding:12px;
  border-radius:15px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 0;
}
#navbar .navbar-anotlogo:hover {
  background-color: #00b31b;
}
.navbar a.active {
  background-color: #ff0023;
  color: white;
}
#logo img{
  width:100%;
}
#logo{
  margin: 0 0 0 30px;
  width:15%;
  border-radius:15px;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:.1s;
}
#logo:hover{
  background-color:white;
}

.navbar .icon {
  display: none;
}









.home-head{
    background-image:url('pictures/home-bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    background-attachment: fixed;
    margin:0;
    padding:15%;
    box-shadow: inset 0 0 0 1000px rgba(255,0,35,.1);
}
.home-head .content{
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    color:white;
    border: solid #ff0023 20px;
    padding:2%;
    margin-left:30%;
    margin-right:30%;
}
.home-latesttutorial{
    background-color:#00b31b;
    color:white;
    padding: 1% 1% 2%;
    text-align:center;
}
.home-mission{
  padding:1%;
  margin:2% 30%;
  text-align:center;
}
.home-piintro{
  padding:1%;
  margin:2% 15%;
  text-align:center;
  background-color:#ff0023;
  color:white;
}
.home-piintro-head{
  margin:0% 30%;
  padding:10px;
}
.home-piintro h1 {
  color:white;
  text-shadow: -3px 3px #00b31b;
}
.home-piintro .content {
  margin:0% 30%;
  text-align: justify;
}
.home-piintro-img {
  border-radius:150px;
  width:50%;
}

.home-getstarted{
  margin:5%;
  text-align:center;
  color:black
}

.home-getstarted a {
  font-size:x-large;
  font-weight: bold;
  color:black;
  text-decoration: none;
  border-bottom:3px solid black;
}

.home-lowcost{
  margin:0;
  padding:15% 10%;
  text-align:center;
  background-image:url('pictures/post-pictures/pi4-diagram-empty.png');
  background-position:40%;
  background-repeat: no-repeat;
  background-size:150%;
}
.home-lowcost .content{
  background-color: white;
  width:100%;
  margin:auto;
}
.home-lowcost-left,.home-lowcost-right {
  display:inline-block;
  width:35%;
  margin: 5%;
}
.home-lowcost-left{
  vertical-align: middle;
  font-size: larger;
}
.home-lowcost-right{
  vertical-align: middle;
}
.home-lowcost-right a{
  font-size:x-large;
  color:black;
  font-weight: bold;
}
@media screen and (max-width:1080px){
  .home-lowcost-left,.home-lowcost-right {
    display:block;
    width:100%;
 }
 .home-lowcost .content{
    width:100%;
    padding:2% 2% 7%;
  }
}
@media screen and (max-width: 800px){
  .home-head{
    padding:10%;
    padding-top:40%;
    background:none;
    background-color:black;
    box-shadow: none;
  }
  .home-head .content {
    margin:0;
  }
  .home-mission,.home-piintro .content {
    margin:2% 2%;
  }
  .home-piintro,.home-piintro-head{
    margin:2% 0%;
  }
  .home-piintro-img{
    width:80%;
    border-radius: 10px;
  }
}
@media screen and (max-width:700px){
  .home-lowcost{
    background-size:300%;
  }
}









.tutorials-head{
  text-align:center;
  margin-top:10%;
}
.tutorials-filter-container{
  padding:0;
  margin:0;
  text-align: center;
}
.tutorials-filter-btn{
  background-color:#f1f1f1;
  border: none;
  margin:auto;
  padding:1%;
  transition:background-color .5s;
}
.tutorials-filter-btn:hover:not(.tutorials-filter-btn-active){
  background-color:#ccc;
  transition:.5s;
}
.tutorials-filter-btn-active {
  background-color:#ff0023;
  color:white;
  font-weight: bold;
}
.tutorials-filteritem{
  display: none;
}
.tutorials-filter-show{
  display: block;
}
.tutorials-block-container{
  margin:5%;
  text-align: center;
}
.tutorials-block{
  background-color: #f1f1f1;
  margin:1%;
  text-align:center;
  padding:1% 0;
  transition: background-color .5s;
}
.tutorials-block img {
  width:100%;
}
.tutorials-block .content-left,.content-right{
  display:inline-block;
  vertical-align: middle;
}
.tutorials-block .content-left{
  width:45%;
  text-align: left;
  margin-right: 10%;
}
.tutorials-block .content-left h1{
  margin-bottom:0;
}
.tutorials-block .content-left p:not(.tutorials-badge){
  margin-top:0;
}
.tutorials-block .content-right{
  width:20%;
}
.tutorials-block:hover{
  background-color:#ccc;
  transition: background-color .5s;
}
.tutorials-badges{
  margin:0;
  padding:0;
}
.tutorials-badge{
  display:none;
  padding:0 1%;
  color:white;
}
.tutorials-badge-sp{
  background-color: #000000;
}
.tutorials-badge-so{
  color: #ff0023;
  background-color:#f1f1f1;
  border: 1px solid #ff0023;
}
.tutorials-badge-sh{
  background-color: #ff0023;
}
@media screen and (max-width: 1250px){
  .tutorials-head{
    margin-top:12%;
  }
  .tutorials-block{
    width:40%;
  }
  .tutorials-filter-show{
    display:inline-block;
  }
  .tutorials-block .content-right{
    display: none;
  }
  .tutorials-block .content-left{
    margin:0;
    text-align: center;
    width:100%;
  }
  .tutorials-filter-btn{
    display:block;
    width:50%;
  }
}
@media screen and (max-width: 900px){
  .tutorials-head{
    margin-top:30%;
  }
  .tutorials-block{
    width:80%;
    padding:10%;
  }
  .tutorials-filter-show{
    display:block;
  }
  .tutorials-filter-btn{
    width:80%;
    padding:5% 0;
    font-size: medium;
  }
}









.post-head{
    text-align:center;
    margin-top:10%;
}
.post-head h1 {
    font-size: 50px;
}
.post-author{
    text-align: center;
    color:#ff0023;
}
.post-content {
    background-color:#f1f1f1;
    color:#1f1f1f;
    padding: 5% 10%;
    margin:2% 10%;
}
.post-subhead {
    margin:4% 0% 4% 0%;
}
.post-subhead h1 {
    background-color: #ff0023;
    color:white;
    display: inline-block;
    padding:5px;
}
.post-code{
  background-color:#ffe0e5;
  color:#ff0023;
  display: block;
  padding: 1%;
  line-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}
.post-img-cont{
    text-align: center;
    margin:5%;
}
.post-img{
    width:50%;
}
.post-img-multiple{
  width:45%;
  display:inline-block;
}
.post-eop{
  text-align:center;
  margin:2%;
}
.post-eop a{
  font-size:x-large;
  font-weight: bold;
  color:#ff0023;
  text-decoration: none;
  border-bottom:3px solid #ff0023;
}
@media screen and (max-width: 800px){
  .post-head{
    margin:30% 2% 0%;
  }
  .post-content{
    margin:2% 0;
    padding:5%;
    text-align:justify;
  }
  .post-subhead{
    text-align:center;
  }
  .post-img{
    width:100%;
  }
  .post-eop{
    margin:10%;
  }
}